.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 60px;
}

.product-area {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  padding: 40px 25px 20px 25px;
}

@media (max-width: 2000px) {
  .main {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .main {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .main {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-description {
  height: 40px;
  margin-bottom: 6px;
}

.limit-to-two-lines {
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-right: 6px;
}

.stars img {
  width: 100px;
  margin-right: 6px;
}

.number-bought {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
  color: rgb(33, 33, 33);
}

.product-quantity-container select {
  padding: 4px;
  font-size: 15px;

  background-color: rgb(240, 240, 240);

  border-radius: 8px;
  border: 1px solid rgb(213, 217, 217);
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;

  display: flex;

  margin-bottom: 8px;

  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.show-added-message {
  opacity: 1;
}

.add-to-cart {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid rgb(252, 210, 0);
  background-color: rgb(255, 216, 20);
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  cursor: pointer;
  color: rgb(33, 33, 33);
}

.add-to-cart:hover {
  background-color: rgb(247, 202, 0);
  border: 1px solid rgb(242, 194, 0);
}

.add-to-cart:active {
  background: rgb(255, 216, 20);
  border-color: rgb(252, 210, 0);
  box-shadow: none;
}

select {
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

select:focus,
input:focus {
  outline: 2px solid rgb(255, 153, 0);
}
