.header {
  background-color: rgb(19, 25, 33);
  padding: 0px 22px 0px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.left {
  width: 188px;
}

@media (max-width: 800px) {
  .left {
    width: unset;
  }
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }
  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 850px;
  margin: 0px 10px;
}

.search-box {
  flex: 1;
  height: 40px;
  width: 0px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  padding-left: 15px;
  font-size: 16px;
  color: white;
}

.search-button {
  background-color: rgb(254, 189, 105);
  width: 45px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-image {
  height: 22px;
  margin: 3px 0px 0px 2px;
}

.right {
  width: 180px;
  display: flex;
  flex-shrink: 0;
  justify-content: end;
}

.ro {
  margin-right: 14px;
}

.ro .returns {
  color: white;
  font-size: 13px;
  display: block;
}

.ro .orders {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 15px;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
}

.cart img {
  width: 50px;
}

.cart-items {
  position: absolute;
  top: -2px;
  left: 16px;
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  text-align: center;
  width: 26px;
}

.cart-text {
  font-size: 15px;
  font-weight: 700;
  margin-top: 12px;
  color: white;
}
