* {
  font-family: Roboto, Arial;
  color: black;
  box-sizing: border-box;
}

p {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.amazon-logo {
  width: 100px;
  margin-top: 5px;
}

.amazon-mobile-logo {
  display: none;
}
