main {
  margin: 80px auto;
  max-width: 1100px;
}

.page-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}

.cart-product-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 12px;
}

.cart-item-container,
.payment-summary {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.cart-item-container {
  margin-bottom: 12px;
}

.delivery-date {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.cart-items-details-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

.cart-items-left {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.cart-item-image {
  width: 100px;
  max-width: 120px;
}

.cart-product-info {
  display: flex;
  flex-direction: column;
}

.cart-product-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.cart-product-price {
  font-weight: 700;
  color: rgb(177, 39, 4);
  margin-bottom: 5px;
}

.cart-product-details {
  display: flex;
  align-items: flex-start;
  gap: 7px;
}

.update,
.delete {
  text-decoration: none;
  color: #017cb6;
  cursor: pointer;
}

.update:hover,
.delete:hover {
  color: red;
}

.cart-items-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.delivery-method-text {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option-buttons {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
  gap: 1px;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
  transform: scale(0.9);
}

.delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}
